{
  "semi": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "singleQuote": false,
  "importOrder": [
    "^@/",
    "^(@/components|components)",
    "^(@/lib|lib)",
    "^(@/utils|utils)",
    "^(@/data|data)",
    "^(@/styles|styles)",
    "store/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
