/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-r-webfont.woff2") format("woff2"),
    url("/fonts/ubuntu-r-webfont.woff") format("woff"),
    url("/fonts/ubuntu-r-webfont.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7ac9f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #7ac9f9ab;
}
