html,
body {
  padding: 0;
  margin: 0;
  margin-right: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-accent;
}

.circle-1 {
  animation: circle-1-keyframes 13s ease-in-out infinite alternate;
}

.circle-2 {
  animation: circle-2-keyframes 8s ease-in-out infinite alternate;
}

.circle-3 {
  animation: circle-3-keyframes 18s ease-in-out infinite alternate;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

@media screen and (min-width: 768px) {
  @keyframes circle-1-keyframes {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(45deg) translateX(250px) translateY(350px);
    }
  }

  @keyframes circle-2-keyframes {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(30deg) translateX(150px) translateY(-70px);
    }
  }

  @keyframes circle-3-keyframes {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(90deg) translateX(200px) translateY(70px);
    }
  }
}

@keyframes circle-1-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg) translateX(650px) translateY(400px);
  }
}

@keyframes circle-2-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg) translateX(300px) translateY(-100px);
  }
}

@keyframes circle-3-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg) translateX(500px) translateY(100px);
  }
}
