.mobileNavItem {
  animation: mobileNavItemEnter 0.5s ease-in-out;
}

@keyframes mobileNavItemEnter {
  0% {
    opacity: 0;
    transform: translateX(-16px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
